:root{
    --color0:#001220;
    --color1:#FA7268;
    --color2:#C62368;
    --color3:#F9F5E3;
    --color4:#CCF5AC;
    --color5:#FFD166;
    --color6:#06D6A0;
    --color7:#EBEBD3;

}

body{
    
    margin: 0;
    padding: 0;
    max-width: 80%;
    background-image: url(./layered-waves-haikei.svg); 
    background-size: 100% auto;
    background-repeat: no-repeat;
    max-height: 100vh;
    font-family: 'Roboto', sans-serif;
    padding: 2rem;
   

}

.current-menu-content{
    margin-top: 4rem;
    color: var(--color7);
}

.buttons-conatiner{
    display: flex;
    gap: 1rem;
}

button{
    border:none;
    padding: 0.25rem 1rem 0.25rem 1rem;
    background-color: var(--color1);
    border-radius: 0.25rem;
    font-family: 'Roboto';
    font-size: 1.2rem;
    font-weight: 600;
}

button:hover{
    background-color: var(--color5);
    
}

h1{
    color:var(--color5)
}

.squid-logo{
    color: var(--color6);
    font-size: 3rem;
}